<h1>Search Results</h1>
<% @result.each do |result| %>
    <% klass = result.class.to_s.underscore %>
    <div>
        <% if klass == 'expense' %>
            <%= link_to "#{result.title}", polymorphic_url([result.budget, result ]), target: :_blank %>            
        <% else %>
            <%= link_to "#{result.title}", polymorphic_url(result), target: :_blank %>
        <% end %>

        <p>
            <i>Source: <%= "#{klass}" %> </i>
        </p>
    </div>
<% end %>
