%footer.footer
  %p
    Proudly coded by #{link_to 'Double-K', 'https://github.com/kirankarki', target: :blank}. This project is under MIT License and can get the repo #{link_to 'here', 'https://www.github.com', target: :blank}
