@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap-datepicker3";
@import "commons";

.title{
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

.body-layout{
    margin-bottom: 40px;
}