.centered{
  text-align: center;
}

.right_aligned{
  text-align: right;
}

// Style for validation errors
#error_explanation{
  color: red;
}
.field_with_errors{
  color: red;
}

// Style for sortings of table headers
th .current {
  padding-right: 12px;
  background-repeat: no-repeat;
  background-position: right center;
}

th .asc {
  background-image: url(/images/up_arrow.gif);
}

th .desc {
  background-image: url(/images/down_arrow.gif);
}
